@model db_1.Models.AsignaturasEstudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Asignatura</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Actualizar</a> |
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
